admin.txt
Plan.docx
report.pdf

node_modules

Slides_Gren.pptx
~$Slides_Gren.pptx
template.pptx
Architecture Diagram.drawio
.$Architecture Diagram.drawio.bkp
Wellness Buddy Architecture Diagram.drawio
.$Wellness Buddy Architecture Diagram.drawio.bkp
Wellness Buddy Architecture Diagram 1.png
Wellness Buddy Architecture Diagram 2.png
Video Call Architecture Diagram.drawio
.$Video Call Architecture Diagram.drawio.dtmp\

\!admin/
\!admin/**
\!admin/Adobe Premiere Pro Auto-Save/
\!admin/Adobe Premiere Pro Captured Audio/
\!admin/Adobe Premiere Pro Preview Files/
\!admin/Adobe Premiere Pro Render Files/

!admin/Adobe Premiere Pro Auto-Save/
!admin/Adobe Premiere Pro Captured Audio/
!admin/Adobe Premiere Pro Preview Files/
!admin/Adobe Premiere Pro Render Files/

# Ignore media files (optional)
*.prproj
*.wav
*.mp4
*.mov
*.jpg
*.png


!admin/data/~$Functions & Skills.xlsx